/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
.ruby-version
.ruby-gemset
/_ignore
.idea/

# Ignore company specific test config
test/integration/vimaly_config.rb
